alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME/'

# vi is shorter to type, actually use the preferred editor (nvim/vim)
if [ -n "$EDITOR" ]; then
    alias vi='$EDITOR'
fi

alias vipaste='f=$(mktemp) && vi $f && $EDITOR $f && rm -f $f'

alias sshagent='eval $(ssh-agent) && ssh-add ~/.ssh/id_rsa'

alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias gd='git diff'

# Reload configs update tab complete
alias reload='exec zsh'

function sharefile {
    RHOST="nginx.tre.esav.fi"
    RPATH="/var/www/share"
    UUID=$(uuidgen)

    ssh $RHOST "mkdir $RPATH/$USER/$UUID"
    scp $1 $RHOST:$RPATH/$USER/$UUID/
    echo "https://share.esav.fi/$USER/$UUID/$(basename $1)"
}

function imgurit {
    IMAGES_PATH="Pictures"
    file=$(ls -t $IMAGES_PATH/ | head -1)
    imgur-uploader "$IMAGES_PATH/$file"
}

temp() {
    directory=$(mktemp -d)
    cd $directory
    rm_cmd="rm -rf $directory"
    echo "Running '$rm_cmd' in 7 days"
    echo "$rm_cmd" | at "now + 7 days"
}

function eyaml {
    if echo $PWD | grep -q "^/home/esav.fi/esa/workspace/puppet/hiera"; then
        PUBKEY="/home/esav.fi/esa/workspace/puppet/hiera/keys/public_key.pkcs7.pem"
    fi

    if echo $PWD | grep -q "^/home/esa/repos/puppet/ppadmin/"; then
        PUBKEY="/home/esa/repos/puppet/ppadmin/keys/public_key.pkcs7.pem"
    fi


    if [[ "$1" == "edit" || "$1" == "encrypt" ]]; then
    	echo "Using pubkey $PUBKEY"
        oper=$1; shift
        ~/bin/eyaml $oper --pkcs7-public-key=$PUBKEY "$@"
    else
        ~/bin/eyaml "$@"
    fi
}

log() {
    logfile=~/.worklog
    if [ "$1" != "" ]; then
        echo "$(date +%s) $@" >> "$logfile"
        cat "$logfile" | tail -n 3 | ~/.local/bin/parse_log.py
    else
        echo "$(date +%s) viewed log" >> "$logfile"
        cat "$logfile" | tail -n 15 | ~/.local/bin/parse_log.py
    fi
}

alias kc=kubectl
alias kctx=kubectl-ctx
alias kns=kubectl-ns

os_project() {
    export OS_PROJECT_NAME=$1 OS_TENANT_NAME=$1
}

alias ssh_no_pubkey='ssh -o PreferredAuthentications=password -o PubkeyAuthentication=no'
alias cal='cal -m'

yaml2jsonnet2() {
    yaml2jsonnet "$1" | jsonnetfmt -
}

alias ppnoop='echo puppet agent --test --noop --agent_disabled_lockfile /non/existant'
