alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME/'

alias vi='vim'
alias vipaste='f=$(mktemp) && vi $f && fpaste $f && rm -f $f'

alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias gd='git diff'
