#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[user]
name = "Esa Varemo"
email = "git@esav.fi"

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
'latest_nonempty(to)' = 'latest(::to & ~empty())'

[revsets]
#default:
#log = "present(@) | ancestors(immutable_heads().., 2) | present(trunk())"
log = """
ancestors(
  descendants(@, 3) | 
  present(trunk()::) |
  (bookmarks() & committer_date(after:"6 months ago") & ~::present(trunk())) |
  (mutable() & committer_date(after:"6 months ago"))
, 5)
"""

[aliases]
init = ["git", "init", "--colocate"]
pull = ["git", "fetch"]
push = ["git", "push"]
tug = ["bookmark", "move", "--from", "closest_bookmark(latest_nonempty(@))", "--to", "latest_nonempty(@)"]

ntp = ["util", "exec", "--", "bash", "-c", """
jj new && jj tug && jj push
""", ""]

[ui]
default-command = ["util", "exec", "--", "bash", "-c", """
jj st --no-pager
echo ""
jj log --no-pager
""", ""]
